.row {
	display: flex;
    flex-flow: row wrap;
}
.row > * {
	margin: 15px;
}

.one-column > * {
	flex: 1 0 92%;
}
.col1  {width: 8.33%; box-sizing: border-box;}
.col2  {width: 16.66%; box-sizing: border-box;}
.col3  {width: 25%; box-sizing: border-box;}
.col4  {width: 33.33%; box-sizing: border-box;}
.col5  {width: 41.66%; box-sizing: border-box;}
.col6  {width: 50%; box-sizing: border-box;}
.col7  {width: 58.33%; box-sizing: border-box;}
.col8  {width: 66.66%; box-sizing: border-box;}
.col9  {width: 75%; box-sizing: border-box;}
.col10 {width: 83.33%; box-sizing: border-box;}
.col11 {width: 91.66%; box-sizing: border-box;}
.col12 {width: 100%; box-sizing: border-box;}

.col2-1  {width: 21.6%; box-sizing: border-box;}
.col3-1  {width: 27%; box-sizing: border-box;}
.col4-1  {width: 39.66%; box-sizing: border-box;}


