.page.pageInicio {
	padding-bottom: 0;
}
.imgPrincipal {
	width: 50%;
	height: 768px;
	position: relative;
}

.imgPrincipal > img {
	width: 100%;
	height: 768px;
    object-fit: cover;
}

.imgPrincipal .btnInicio,
.imgPrincipal .logo-baz{
    position: absolute;
}

.imgPrincipal .btnInicio {
	left: 55px;
	bottom:40px;
}
.imgPrincipal .logo-baz {
	left: 55px;
	top: 56px;
 	width: 160px;
}
.imgPrincipal .logo-baz img {
	width: 100%;
}
.textoInicio {
	width: 100%;
	margin: 163px 0 30px 0;
	padding-left: 50px;
	text-align: left;
}
.textoInicio h1 {
	font-size: 40px;
	color: #6C7385;
	font-family: 'Avenir_Next_Demi_Bold';
}
.btnComenzarInicio {
	background-color: #0E8D72;
    width: 75px;
    height: 150px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnComenzarInicio img {
	margin-left: 20px;
}
.comenzarInicio {
	font-size: 32px;
    color: #6C7385;
    font-family: 'Avenir_Next_Demi_Bold';
    margin-right: 25px;
}