.modal-mask {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f2f6;
    display: table;
    transition: opacity .3s ease;
  }

  .divLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 272px;
    left: calc(50% - 150px);
  }
  
  .loader {
    /* margin: 1% auto; */
    font-size: 40px;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    position: absolute;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    right: 270px;
    margin: 0 auto;
    top: 45%;
    z-index: 100;
    text-align: center;
  
  }

  .LetraLoader {
    color: #17A54D;
    font-size: 2.1em;
    text-align: left;
    z-index: 117;
    position: absolute;
    top: 40%;
    width: 50%;
    left: 147px;
    margin: 0 auto;
    font-family: 'Avenir_Next_Demi_Bold';
  }
  .titulos {
    color: #ffffff;
    z-index: 2000;
    margin-top: 78px;
  }

  .recuadroLoader .logo-s {
    z-index: 117;
    position: absolute;
    top: 56px;
    right: 56px;

  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #0D8D71, 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.5), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.7), 1.8em -1.8em 0 0em #17A44D, 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.5), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.7), 2.5em 0em 0 0em #00DA9A, 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.5), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.7), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.5), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.7), 0em 2.5em 0 0em #80C912, -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.5), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.7), -1.8em 1.8em 0 0em #0D8D71, -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.5), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.7), -2.6em 0em 0 0em #17A44D, -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.5), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.7), -1.8em -1.8em 0 0em #00DA9A;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #0D8D71, 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.5), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.7), 1.8em -1.8em 0 0em #17A44D, 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.5), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.7), 2.5em 0em 0 0em #00DA9A, 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.5), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.7), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.5), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.7), 0em 2.5em 0 0em #80C912, -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.2), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.5), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.7), -1.8em 1.8em 0 0em #0D8D71, -2.6em 0em 0 0em rgba(0, 99, 65 , 0.2), -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.5), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.7), -2.6em 0em 0 0em #17A44D, -1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0, 99, 65 , 0.2), 1.8em -1.8em 0 0em rgba(0, 99, 65 , 0.2), 2.5em 0em 0 0em rgba(0, 99, 65 , 0.2), 1.75em 1.75em 0 0em rgba(0, 99, 65 , 0.2), 0em 2.5em 0 0em rgba(0, 99, 65 , 0.2), -1.8em 1.8em 0 0em rgba(0, 99, 65 , 0.5), -2.6em 0em 0 0em rgba(0, 99, 65 , 0.7), -1.8em -1.8em 0 0em #00DA9A;
    }
  }



  @media screen and (min-width: 1900px){
    .loader {
      margin-right: 0;
      margin-left: 0;
      right: 30%;
      left: auto;
      top: 45%;
    }
    .LetraLoader {
      width: 40%;
      margin-right: 0;
      margin-left: 0;
      left: 8%;
      right: auto;
      text-align: left;
      top: 45%;
    }
  }
  