
.container {
    width: 904px;
    max-width: 904px;
    margin: 0 auto;
    font-size: 2em
}

.container-md {
    width: 964px;
    max-width: 964px;
    margin: 0 auto;
    font-size: 2em
}

.tituloSeccion {
    font-family: 'Avenir_Next_Regular';
    font-size: 54px;
}

.tituloSeccion-2 {
    text-align: left;
    margin-left: 58px;
}

.tituloAviso {
    font-size: 36px;
    font-family: 'AvenirNextLTPro-Medium';
}

.textoAviso {
    color: var(--gris-5);
    font-size: 28px;
    font-family: 'AvenirNextLTPro-Medium';
}

.textoAviso-2 {
    font-size: 22px;
    font-family: 'AvenirNextLTPro-Medium';
}

.img-contando-billetes {
    width: 367px;
    height: 245px;
    overflow: hidden;
}

.img-loader {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.img-loader > img {
    top: -100px;
    width: 600px;
    left: -100px;
    position: absolute;
}

.contenedorCuadros-3-1 {
    display: grid;
    grid-template-rows: repeat(1, 95px);
    grid-template-columns: repeat(3, 288px);
    grid-gap: 20px;
}

.clipper {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.tabla-lista {
    display: inline-block;
    padding: 40px 50px;
    background: #F5F5F5;
    border-radius: 8px;
    margin: 0 auto;
    font-size: 28px;
    font-family: 'AvenirNextLTPro-Medium';
}

.tabla-lista-light {
    background: #ffffff;
    border: 1px solid #D0D2D8;
}

.tabla-lista-uniforme tr {
    display: flex;
}

.btnEscaner {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textEscaner {
    font-size: 17px;

}

.textAlerta {
    font-size: 17px;
    font-family: 'AvenirNextLTPro-Medium';
}

.textAlerta-2 {
    font-size: 15px !important;
    font-family: 'Avenir_Next_Regular' !important;;
}

.contenedorCuadros-3-2 {
    display: grid;
    grid-template-rows: repeat(2, 95px);
    grid-template-columns: repeat(3, 288px);
    grid-gap: 20px;
}

.copySeccion {
    font-size: 26px;
    font-family: 'Avenir_Next_Demi_Bold';
    text-align: center;
}

.tituloColumna {
    color: #333333;
    font-family: 'AvenirNextLTPro-Medium';
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.88em;  
}
.gris {
    width: 100%;
    margin: 0px auto;
    padding: 15px 0px;
    background-color: #faf9f9;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);    margin-bottom: 15px;    text-align: justify;
}

.blanco{
    width: 100%;
    margin: 0px auto;
    padding: 15px 0px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0px 1px rgb(226, 222, 222);
    -webkit-box-shadow: 0 0px 1px rgb(226, 222, 222);
    box-shadow: 0 0px 1px rgb(226, 222, 222);
    margin-bottom: 15px;
    text-align: justify;
}

.form {
    margin: 10px auto 27px auto;
}

.displayNone {
    display: none !important;
}

.imgEscanearCodigo {
    width: 234px;
}


/* teclado numerico */

.letterWrap {
    display: grid;
    grid-template-columns: repeat(3, 97px);
    grid-template-rows: repeat(4, 67px);
    grid-column-gap: 11px;
    grid-row-gap: 9px;
    padding: 16px 24px;
    background: #F1F2F6;
    border-radius: 20px;
}
.key {
    color: #000000;
    border-radius: 20px;
    height: 67px;
    box-shadow: 1px 2px 3px #00000029;
    border: none;
}

.key:active{
    box-shadow:inset 0 0 0 1px #0E8D72;
    background-color: #F6FFFD;
}

.number {
    font-family: 'AvenirNextLTPro-Medium';
    background: #FFFFFF;
    font-size: 28px;
}

.erasers {
    font-family: 'AvenirNextLTPro-Medium';
    padding: 17px 15px;
    font-size: 17px;
    background: #eceff0;
}




/*teclado*/
.contTeclado {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    zoom: .8;

}
.tecla {
    -webkit-box-shadow: 2px 2px 4px 0px rgb(173 173 173);
    -moz-box-shadow: 2px 2px 4px 0px rgb(173 173 173);
    box-shadow: 2px 2px 4px 0px rgb(173 173 173);
    background-color: #FFFFFF;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 0 0 14px 0;
    font-size: 0.7em;
    font-family: 'AvenirNextLTPro-Medium';
    width: 61.66px;
    height: 43.83px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.teclaBorrar {
    width: 75px;
    height: 43.83px;
}
.tNum {
    display: flex;
    width: 38%;
    max-width: 294px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tNum > div:first-of-type {
    width: 73%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tNum > div:last-of-type {
    width: 26%;
}
.tEdicion {
    width: 23%;
    display: flex;
    flex-direction: column;
    min-width: 124px;
}
.tEdicion .tecla {
    font-size: 24px;
    padding: 19px 10px;
    text-align: center;
    width: auto;
}


.errorNumeros {
    align-items: center;
    justify-content: center;
    margin: -20px auto 12px auto;
    font-size: 0.5em;
    color: #6C7385;
}
.errorNumeros > img {
    margin-right: 15px;
    width: 15px;
}

/**/
.divAtras {
    color: #278252;
    font-size: 2em;
    font-family: 'Avenir_Next_Bold';
    width: 59px;
    text-align: left;
}
.logo-s {
    width: 4.688em;
    height: 4.688em;
    margin-right: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 6px solid #9DDC8A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-s > img {
    width: 80%;
}


.header-texto {
    font-size: 1.187em;
    font-family: 'AvenirNextLTPro-Medium';
    color: #6D7486;
    text-align: right;
}

.header-texto-2 {
    width: 16.812em;
    line-height: 27px;
    color: var(--gris-5) !important;
}

.header-texto-2 > p {
    margin-bottom: 0 ;
}

.datos-cliente {
    background-color: #ffffff;
    padding:30px 15px;
    box-sizing: border-box;
    margin: 42px auto 88px auto;
    border-radius: 8px;
    color: #2E3032;
    max-width: 790px;
    font-size: 0.75em;
}
.iconoConfirmar {
    width: 31px;
}
.monto-abonar {
    margin: 100px auto 120px auto;
}
.cuadros-pagos {
    padding: 17.12px 21px;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5.937rem;
}

.cuadros-pagos-lg {
    grid-row: 1 / 3;
}

.container-tabla {
    flex: 1;
}

.disabled-link {
    cursor: not-allowed;
    pointer-events: none;
    background: #A6A6A6 !important;
}

.tabla {
    width:  87.7%;
    margin: 20px auto 0;
    border: 1px solid var(--gris-2);
    font-size: 16px;
}


.tabla td, .th-custom {
    font-size: 1.375em;
    font-weight: bold;
    color: #000000 !important;
}

.tabla td .containerCheckbox span, .th-custom .containerCheckbox span {
    width: 48px;
    height: 48px;
}

.tabla th {
    color: var(--gris-5);
    font-size: 1.375em;
}

.cuadros-pagos-shadow {
    box-shadow: 3px 3px 6px #0000004f;
    -webkit-box-shadow: 3px 3px 6px #0000004f;
}

.cuadros-pagos > div {
    width: 100%;
}
.tipoPago {
    font-size: 0.8em;
    font-family: 'AvenirNextLTPro-Medium';
    line-height: 1.188;

}
.copyPago {
    font-size: 0.6em;
    font-family: 'AvenirNextLTPro-Medium';
    line-height: 48px;
}
.cantidadPago {
    font-size: 24px;
    font-family: 'Avenir_Next_Bold';
    line-height: 32px;
}

.divOtraCantidad {
    margin: 22px auto 26px auto;
}

.inputPago {
    height: 90px !important;
    font-size: 32px !important;;
}

.inputPago-sm {
    width: 288px !important;
}
.inputPago-sm2 {
    width: 240px !important;
}

.inputPago:focus {
    border: 2px solid #0E8D72;
}

.inputPago-active {
    border: 2px solid #17A54D !important;
}

.inputPago-warning {
    border: 2px solid #F2B10D !important;
}


.inputPesos {
    position: relative;
    background-color: #dedede;
    display: inline;
    border-radius: 8px;

}
.inputPesosRetiro {
    position: relative;
    background-color: #dedede;
    display: inline;
    border-radius: 8px;

}

.inputPesos:before {
    content: '$';
    position: absolute;
    top: 2px;
    left: 31px;
    z-index: 1;
    font-size: 36px;
    font-family: 'AvenirNextLTPro-Medium';
}
.inputPesosRetiro:before {
    content: 'Retiraste:';
    position: absolute;
    top: -34px;
    left: 20px;
    z-index: 1;
    font-size: 22px;
    font-family: 'AvenirNextLTPro-Medium';
}
.inputPesosRetiro > input {
    padding-left: 160px;
    font-size: 46px !important;
    font-family:'Avenir_Next_Regular';
}
.inputPesos > input {
    padding-left: 55px;
    font-size: 46px !important;
    font-family:'Avenir_Next_Regular';
}
.container-verde {
    padding: 0 5px 30px 5px;

}
.container-verde h1 {
    font-size: 63px;
}

.container-verde .copySeccion{
    font-size: 2.5em;
}

.opcionesTerminar {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0px auto 0 auto;
    font-size: 0.65em;
    
}
.opcionesTerminar > a{
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 209px;
    color: #fff;
    font-size: 1.3em;
    position: relative;
    padding: 10px 30px;
    box-sizing: border-box;
    box-shadow: 6px 3px 6px #00000029;
}
.icono-opciones {
    position: absolute;
    top: 20px;
    right: 20px;
}
.container-pronto {
    margin: 0 auto;
    padding: 90px 56px 10px 56px;
    box-sizing: border-box;
}
.container-pronto h1 {
    font-size: 2.3em;
}
.container-pronto > div {
    font-size: 1.7em;
    line-height: 36px;
}

.img-1900 {
    display: none;
}

.container-tracking {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding-top: 0;
}

.errorNumerosTracking {
    margin-top: 12px;
    margin-bottom: 120px;
}

.imgAbonoExitoso {
    width: 179px;
}
.container-verde-copy img {
    display: block;
    margin: 15px auto;
}
.container-verde-copy h2 {
    font-size: 2.1em;
}
.container-verde-copy .copySeccion {
    font-size: 1.6em;
}

.container-experiencia {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 46px;
}

.container-experiencia p {
    text-align: center;
    font-size: 1.6em;
    font-family: 'AvenirNextLTPro-Medium';
    margin-top: 22px;
}
.imagen-redonda {
    position: absolute;
    top: 56px;
    right: 0px;
    width: 490px;
}
.icono-operaciones {
    position: absolute;
    top: 21px;
    right: 20px;
}
.icono-operaciones-2 {
    position: absolute;
    top: 11px;
    right: 20px;
}

.container-temporal-maps {
    position: absolute;
    right: 0;
}

.container-temporal-maps > div {
    width: 491px;
    height: 768px;
    position: relative;
    overflow: hidden;
}

.container-temporal-maps > div > img {
    position: absolute;
    top: -116px;
}

.u-mt-140 {
    margin-top: 140px;
}

.banner {
    height: 448px;
}

.iconBanner {
    width: 228px;
    height: 218px;
    overflow: hidden;
    margin: 0 auto;
}
.iconBanner > img {
    width: 228px;
    height: 285px;
}

.alerta-footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #FCEFCE;
}


.alerta-footer p {
    margin: 0;
    font-size: 22px;
    font-family: AvenirNextLTPro-Medium;
}

.alerta-footer-gris {
    background-color:  #F5F5F5;
}

.datos-pedidos {
    background-color: #ffffff;
    padding: 0px 10px 7px 10px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    border-radius: 8px;
    color: #2E3032;
    max-width: 790px;
    max-height: 100%;
    font-size: 0.75em;
    box-shadow: 0px 3px 6px #00000029;
}

.scroll {
    margin: 35px auto 30px auto;
    max-width: 900px;
    max-height: 270px;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.datos-pago {
  background-color: #ffffff;
  padding: 10px 15px;
  box-sizing: border-box;
  margin: 30px auto 0px auto;
  border-radius: 8px;
  color: #2E3032;
  max-width: 790px;
  font-size: 0.75em;
  box-shadow: 0px 3px 6px #00000029;
}

.datos-pedidos .rowHeader{
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    z-index: 9;
}
  
  .datos-pedidos .rowBody .col4-1,
  .datos-pedidos .rowBody .col3-1,
  .datos-pedidos .rowBody .col2-1{
      margin: 6px 15px;
  }

  .selectMonto .monto-abonar{
    margin-top: 0;
}
.selectMonto .cuadros-pagos{
    padding: 14px 21px;
}
.selectMonto .cuadros-pagos .cantidadPago{
    margin-top: 10px;
}
.avisoCuenta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 15px auto;
    font-size: 0.6em;
    color: #6C7385;
}
.avisoCuenta img{
    margin-right: 10px;
    width: 16px;
}
.contAviso{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    left: 0;
    bottom: 0;
}
.contAviso .img-borrar{
    position: absolute;
    width: 20px;
    top: 15px;
    right: 25px;
}
.contInfo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 25px;
    box-sizing: border-box;
}
.contInfo img{
    width: 29px;
    margin-right: 20px;
}
.contInfo div{
    font-size: 14px;
    color: #9b9b9b;
}
.contAvisoCredito .contInfo {
    align-items: center;
}
.u-pt-10{padding-top: 10px;}
.u-fz-17{
    font-size: 17px !important;
    font-family: AvenirNextLTPro-Regular !important;
}
.u-wth-970{
    width: 970px; 
    max-width: 970px;
}
.row-flex{
    flex-flow: row wrap;
    display: flex;
    gap: 10px;
}
.gap-40{
    gap: 40px;
}
.u-flex-directions{
    flex-direction: column;
}
.u-hth-color{
    height: 90px !important;
    background-color: #EAEAEA !important;
    padding: 0px 49px !important;
    font-size: 101px !important;
}
.u-button-retirar{
    width: 200px;
    height: 90px;
    border-radius: 8px;
    color: white;
    background-color: #A6A6A6;
    box-shadow: 3px 3px 6px #0000004f;
    -webkit-box-shadow: 3px 3px 6px #0000004f;
    font-size: 26px;
}
@media screen and (min-width: 1024px) {


    .header-texto-absolute{
        position: absolute;
        right: 34px;
        top: 34px;
    }
  
    .u-mt-1{
        top: 1px;
    }

    .copySeccion {
        font-size: 28px;
    }

    .page {
        max-width: 1900px !important;
        padding-bottom: 0 !important;
    }
    .page-gris,
    .body-gris {
        background-color: #F1F2F6;
    }
    .bg-blanco-1900 {
        background-color: #ffffff !important;
    }
    .barraProgreso-1900 {
        display: block;
        flex: 1;
    }

    .texto-avance {
        width: 100%;
        font-size: 1.25em;
        color: #17A54D;
        text-align: left;
    }
    .tracking-contenido-1900 {
        width: 100%;
        margin-top: -35px;
    }
    .tracking-contenido-1900-xl {
        width: 100%;
        margin-top: -35px;
    }
    .monto-abonar {
        width: 100% !important;
        margin-top: 80px;
        margin-bottom: 90px;
    }
    .monto-abonar .row {
        flex-flow: row nowrap;
    }
    .monto-abonar > a {
        width: 25% !important;
    }
    .divOtraCantidad {
        margin-right: auto;
        margin-left: auto;
    }
    .container-responsive-track {
        padding-left: 100px;
        box-sizing: border-box;
    }

    .imgAbonoExitoso {
        margin: 15px auto 0 !important;
    }
    
    .container-pronto > h1,
    .container-pronto > div {
        text-align: left !important;
    }
    .container-pronto > div {
       width: 70%;
        margin-right: 0;
        margin-left: 0;
    }
    .container-pronto-1900 > div {
        width: 70% !important;
        padding-left: 135px;
        box-sizing: border-box;
    }
    .container-pronto-1900 > div > h2 {
        text-align: left !important;
    }

    /**/
    .container-verde-1900 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around !important;
        margin-top: -25px;
    }
    .container-verde-1900 > div {
        width: 45%;
    }
    .container-verde-1900 > div > * {
        text-align: left;
    }
    .container-verde-1900 > div > .w80 {
        width: 100%;
    }
   
    
}

@media screen and (min-width: 1280px) {
    .container-tabla {
        margin-top: 41px;
    }
}




@media screen and (max-width: 1000px) { 
    .divRadio div {width: 33%;}

}
@media screen and (max-width: 1024px) { 
    .opcionesConfigurar a {
        width: 42%;
    }

}
@media screen and (max-width: 700px) { 

    .btnCenter a:first-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 550px) {
    .dataTables_wrapper .row {display: block;  }
    .dataTables_wrapper .row div {display: block;  text-align: left;}

    div.dataTables_wrapper div.dataTables_paginate {margin-top: 15px;}
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
        justify-content: center !important;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: left !important; margin-top: 15px;
    }
    .dataTables_filter input[type="search"] {
        width: 100%;
    }
}


@media screen and (max-width: 500px) {	
	.divRadio div {width: 100%;}
	.divCol2Input div{width: 100%;}
}