/*MenusTabs*/
/*-------------------- Tabs ---------------------*/
.contenedorTabs1 {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.contenedorTabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*height: 138px;*/
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
    z-index: 9;
}
.contenedorTabs > div {
    font-size: 12px;
    color: #046241;
    cursor: pointer;
    width: 100%;
    border: 0px;
}
.contenedorTabs > div > div:first-of-type {
    background-color: #BCBCBC;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.contenedorTabs > div > div:nth-of-type(2){
    color: #BCBCBC;
    font-family: 'Avenir_Next_Demi_Bold';
    font-size: 18px;
    margin-top: 13px;
}
.contenedorTabs > div >div img {width: 30px;}
.contenedorTabs > div:last-of-type {
	border-right: none;
}

.contenedorTabs > div.active > div:first-of-type {
    background-color: #17A54D;
    border:8px solid #CEEAD8;
    width: 83px;
    height: 83px;
    /*height: 138px;
    border-radius: 50%;
    width: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;*/
}
.contenedorTabs > div.active > div:nth-of-type(2){
    color: #17A54D !important;
}
.contenedorTab {
    margin: 15px 0;
}
/*.tab > div {padding: 1px 0;    white-space: nowrap;text-overflow: ellipsis;}*/
/*@media screen and (max-width: 1100px) { 
.contenedorTabs > div {font-size: 12px;}
.contenedorTabs > div >div img {width: 35px;}
}*/

@media screen and (max-width: 1000px) { 
.contenedorTabs > div {font-size: 11px;}
}
@media screen and (max-width: 600px) { 
    .contenedorTab {
        margin: 15px 0px;
    }
    .w60 {
        width: 100% !important;
    }
    .footer div:nth-child(1) {text-align: center !important;}
}
